{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server = DESKTOP-VEVGCI6;Database = DigitalPortfolio;TrustedConnection = True" //EXAMPLE
  },
  "AllowedHosts": "*"
}
